body {
  background: #FFF; }

#logo {
  height: 75%;
  width: 100%;
  background: white;
  background-image: url("../_img/logo.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center; 
}

#title {
	text-align: center;
	font-family: sans-serif;
	font-size: 3vw;
}

.article {
	-webkit-column-count: 3;
	-webkit-column-gap: 50px;
	-webkit-column-rule: 2px solid gray;
	-webkit-columns: 25%;
	text-align: justify;
}

@media screen and (max-width: 480px) {
	#logo {
		background-size: 90%;
	}

	.article {
		-webkit-column-count: 1;
	}
}

@media screen and (max-width: 668px) and (max-width: 768px) {
	.article {
		-webkit-column-count: 2;
	}
}