body {
  background: #FFF; }

#logo {
  height: 75%;
  width: 100%;
  background: white;
  background-image: url("../_img/logo.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center; 
}

#title {
	text-align: center;
	font-family: sans-serif;
	font-size: 3vw;
}
