body {
  background: #FFF; }

#logo {
  height: 100%;
  width: 100%;
  background: white;
  background-image: url("../_img/logo.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center; 
}


